In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
data = pd.read_csv('train.csv')
data.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [34]:
dataset = pd.read_csv("TitanicDataset.csv",sep='\,')

<>:1: SyntaxWarning: invalid escape sequence '\,'
<>:1: SyntaxWarning: invalid escape sequence '\,'
C:\Users\Abdoulaye_Faye\AppData\Local\Temp\ipykernel_1248\1758998141.py:1: SyntaxWarning: invalid escape sequence '\,'
  dataset = pd.read_csv("TitanicDataset.csv",sep='\,')
C:\Users\Abdoulaye_Faye\AppData\Local\Temp\ipykernel_1248\1758998141.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  dataset = pd.read_csv("TitanicDataset.csv",sep='\,')

In [35]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
"""1",0,3,"""""Braund","Mr. Owen Harris""""",male,22.0,1,0,A/5 21171,7.2500,NaN,"S"""
"""2",1,1,"""""Cumings","Mrs. John Bradley (Florence Briggs Thayer)""""",female,38.0,1,0,PC 17599,71.2833,C85,"C"""
"""3",1,3,"""""Heikkinen","Miss. Laina""""",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,"S"""
"""4",1,1,"""""Futrelle","Mrs. Jacques Heath (Lily May Peel)""""",female,35.0,1,0,113803,53.1000,C123,"S"""
"""5",0,3,"""""Allen","Mr. William Henry""""",male,35.0,0,0,373450,8.0500,NaN,"S"""

In [36]:
dataset.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [37]:
dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

# Pretraitemant de la base de données

## Selection des colonnes pertinants pour notre problematique

In [38]:
dataset=dataset[['Survived', 'Pclass', 'Sex', 'Age']]
dataset.head()

    Survived       Pclass     Sex   Age
"1         3     ""Braund    male  22.0
"2         1    ""Cumings  female  38.0
"3         3  ""Heikkinen  female  26.0
"4         1   ""Futrelle  female  35.0
"5         3      ""Allen    male  35.0

## Dimension du dataset

In [39]:
dataset.shape

(891, 4)

## Nombre de valeurs NAN

In [40]:
dataset.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
dtype: int64

## Nombre de valeurs manquentes

In [41]:
dataset.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
dtype: int64

## Netoyage de la base de données

In [45]:
datasetN  = dataset.dropna()

## Division de la base de données en deux base train et test

In [51]:
datasetN

      Survived       Pclass     Sex   Age
"1           3     ""Braund    male  22.0
"2           1    ""Cumings  female  38.0
"3           3  ""Heikkinen  female  26.0
"4           1   ""Futrelle  female  35.0
"5           3      ""Allen    male  35.0
...        ...          ...     ...   ...
"886         3       ""Rice  female  39.0
"887         2   ""Montvila    male  27.0
"888         1     ""Graham  female  19.0
"890         1       ""Behr    male  26.0
"891         3     ""Dooley    male  32.0

[714 rows x 4 columns]

In [61]:
datasetN['Pclass'].unique()

array(['""Braund', '""Cumings', '""Heikkinen', '""Futrelle', '""Allen',
       '""McCarthy', '""Palsson', '""Johnson', '""Nasser', '""Sandstrom',
       '""Bonnell', '""Saundercock', '""Andersson', '""Vestrom',
       '""Hewlett', '""Rice', '""Vander Planke', '""Fynney', '""Beesley',
       '""McGowan', '""Sloper', '""Asplund', '""Fortune', '""Uruchurtu',
       '""Wheadon', '""Meyer', '""Holverson', '""Cann', '""Nicola-Yarred',
       '""Ahlin', '""Turpin', '""Laroche', '""Devaney',
       '""Arnold-Franchi', '""Panula', '""Nosworthy', '""Harper',
       '""Faunthorpe', '""Ostby', '""Rugg', '""Novel', '""West',
       '""Goodwin', '""Sirayanian', '""Icard', '""Harris', '""Skoog',
       '""Nye', '""Crease', '""Kink', '""Jenkin', '""Hood',
       '""Chronopoulos', '""Bing', '""Moen', '""Caldwell', '""Dowdell',
       '""Waelens', '""Sheerlinck', '""Carrau', '""Ilett', '""Backstrom',
       '""Ford', '""Celotti', '""Christmann', '""Andreasson', '""Chaffee',
       '""Dean', '""Coxon', '""Goldschmidt', '""Greenfield', '""Doling',
       '""Kantor', '""Petranec', '""White', '""Johansson', '""Gustafsson',
       '""Mionoff', '""Salkjelsvik', '""Rekic', '""Porter', '""Zabour',
       '""Barton', '""Jussila', '""Attalah', '""Pekoniemi', '""Connors',
       '""Baxter', '""Hickman', '""Webber', '""Madsen', '""Ekstrom',
       '""Drazenoic', '""Coelho', '""Robins', '""Weisz', '""Sobey',
       '""Richard', '""Newsom', '""Osen', '""Giglio', '""Nysten',
       '""Hakkarainen', '""Burke', '""Andrew', '""Nicholls', '""Navratil',
       '""Byles', '""Bateman', '""Pears', '""Meo', '""van Billiard',
       '""Williams', '""Gilnagh', '""Corn', '""Cribb', '""Watt',
       '""Bengtsson', '""Calic', '""Goldsmith', '""Ling',
       '""Van der hoef', '""Sivola', '""Smith', '""Klasen', '""Isham',
       '""Hale', '""Leonard', '""Becker', '""Kink-Heilmann', '""Romaine',
       '""Bourke', '""Turcin', '""Pinsky', '""Carbines',
       '""Andersen-Jensen', '""Brown', '""Lurette', '""Olsen', '""Yrois',
       '""Vande Walle', '""Johanson', '""Youseff', '""Cohen', '""Strom',
       '""Albimona', '""Carr', '""Blank', '""Ali', '""Cameron',
       '""Perkin', '""Givard', '""Newell', '""Honkanen', '""Jacobsohn',
       '""Bazzani', '""Sunderland', '""Bracken', '""Green', '""Hoyt',
       '""Berglund', '""Mellors', '""Lovell', '""Fahlstrom', '""Larsson',
       '""Sjostedt', '""Leyson', '""Hold', '""Collyer', '""Pengelly',
       '""Hunt', '""Coleridge', '""Maenpaa', '""Minahan', '""Lindahl',
       '""Hamalainen', '""Beckwith', '""Carter', '""Stead', '""Lobb',
       '""Rosblom', '""Touma', '""Cherry', '""Ward', '""Parrish',
       '""Taussig', '""Harrison', '""Reeves', '""Persson', '""Graham',
       '""Bissette', '""Tornquist', '""Mellinger', '""Natsch',
       '""Andrews', '""Lindblom', '""Abbott', '""Duane', '""Olsson',
       '""de Pelsmaeker', '""Dorking', '""Stankovic', '""de Mulder',
       '""Naidenoff', '""Hosono', '""Connolly', '""Barber', '""Bishop',
       '""Levy', '""Haas', '""Mineff', '""Hanna', '""Allison',
       '""Penasco y Castellana', '""Abelson', '""Francatelli', '""Hays',
       '""Ryerson', '""Lahtinen', '""Hendekovic', '""Hart', '""Nilsson',
       '""Moraweck', '""Wick', '""Spedden', '""Dennis', '""Danoff',
       '""Slayter', '""Young', '""Nysveen', '""Ball', '""Hippach',
       '""Partner', '""Burns', '""Dahl', '""Blackwell', '""Collander',
       '""Sedgwick', '""Fox', '""Coutts', '""Dimic', '""Odahl', '""Elias',
       '""Vanden Steen', '""Bowerman', '""Funk', '""del Carlo',
       '""Barbara', '""Asim', '""Adahl', '""Warren', '""Aubart',
       '""Harder', '""Wiklund', '""Beavan', '""Ringhini', '""Landergren',
       '""Widener', '""Betros', '""Bidois', '""Nakid', '""Tikkanen',
       '""Davies', '""Buss', '""Lehmann', '""Jansson', '""McKane',
       '""Pain', '""Trout', '""Niskanen', '""Adams', '""Oreskovic',
       '""Gale', '""Widegren', '""Richards', '""Birkeland', '""Sundman',
       '""Drew', '""Silven', '""Matthews', '""Van Impe', '""Charters',
       '""Zimmerman', '""Danbom', '""Clarke', '""Phillips', '""Pickard',
       '""Bjornstrom-Steffansson', '""Louch', '""Kallio', '""Silvey',
       '""Kvillner', '""Hampe', '""Petterson', '""Reynaldo', '""Dodge',
       '""Seward', '""Baclini', '""Peuchen', '""Foreman', '""Goldenberg',
       '""Jalsevac', '""Millet', '""Toomey', '""Anderson', '""Morley',
       '""Gee', '""Milling', '""Goncalves', '""Smart', '""Cacic',
       '""Jerwan', '""Strandberg', '""Renouf', '""Karlsson', '""Hirvonen',
       '""Rouse', '""Turkula', '""Kent', '""Somerton', '""Windelov',
       '""Molson', '""Artagaveytia', '""Stanley', '""Eustis',
       '""Svensson', '""Canavan', '""Laitinen', '""Maioni', '""Quick',
       '""Lang', '""Daly', '""McGough', '""Rothschild', '""Coleff',
       '""Walker', '""Lemore', '""Angle', '""Pavlovic', '""Perreault',
       '""Vovk', '""Farrell', '""Ridsdale', '""Salonen', '""Hocking',
       '""Butt', '""LeRoy', '""Frolicher', '""Crosby', '""Beane',
       '""Douglas', '""Nicholson', '""Thayer', '""Sharp', '""Leeni',
       '""Ohman', '""Wright', '""Duff Gordon', '""de Messemaeker',
       '""Sivic', '""Norman', '""Stoytcheff', '""Jonsson', '""Appleton',
       '""Flynn', '""Rush', '""Patchett', '""Garside', '""Christy',
       '""Downton', '""Ross', '""Jarvis', '""Frolicher-Stehli',
       '""Gilinski', '""Rintamaki', '""Stephenson', '""Elsbury',
       '""Chapman', '""Torber', '""Homer', '""Lindell', '""Karaic',
       '""Daniel', '""Shutes', '""Brocklebank', '""Herman', '""Gavey',
       '""Yasbeck', '""Kimball', '""Hansen', '""Bowen', '""Sutton',
       '""Kirkland', '""Longley', '""Bostandyeff', '""Barkworth',
       '""Lundahl', '""Stahelin-Maeglin', '""Davis', '""Leinonen',
       '""Jensen', '""Sagesser', '""Cor', '""Simonius-Blumer', '""Kalvik',
       '""Hegarty', '""Eitemiller', '""Frauenthal', '""Badt', '""Colley',
       '""Lindqvist', '""Butler', '""Cook', '""Davidson', '""Mitchell',
       '""Wilhelms', '""Edvardsson', '""Sawyer', '""Turja', '""Cardeza',
       '""Hassab', '""Olsvigen', '""Dakic', '""Fischer', '""Madill',
       '""Dick', '""Karun', '""Saad', '""Weir', '""Kelly', '""Humblen',
       '""Astor', '""Silverthorne', '""Gallagher', '""Calderhead',
       '""Cleaver', '""Mayne', '""Taylor', '""Greenberg', '""Soholt',
       '""Endres', '""Troutt', '""Gillespie', '""Hodges', '""Chambers',
       '""Bryhl', '""Ilmakangas', '""Hassan', '""Berriman',
       '""Troupiansky', '""Lesurer', '""Cavendish', '""McNamee',
       '""Stranden', '""Sinkkonen', '""Marvin', '""Connaghton', '""Wells',
       '""Moor', '""Vande Velde', '""Jonkoff', '""Carlsson', '""Bailey',
       '""Theobald', '""Rothes', '""Nirva', '""Barah', '""Eklund',
       '""Hogeboom', '""Mangan', '""Gronnestad', '""Lievens', '""Mack',
       '""Myhrman', '""Emanuel', '""Robert', '""Ayoub', '""Long',
       '""Harmer', '""Sjoblom', '""Guggenheim', '""Gaskell',
       '""Dantcheff', '""Otter', '""Leader', '""Osman',
       '""Ibrahim Shawah', '""Ponesell', '""Thomas', '""Hedman',
       '""Pettersson', '""Alexander', '""Lester', '""Slemen', '""Tomlin',
       '""Heininen', '""Mallet', '""Holm', '""Lulic', '""Reuchlin',
       '""Stone', '""Augustsson', '""Allum', '""Compton', '""Pasic',
       '""Chip', '""Alhomaki', '""Mudd', '""Serepeca', '""Lemberopolous',
       '""Culumovic', '""Abbing', '""Markoff', '""Boulos', '""Lines',
       '""Aks', '""Giles', '""Swift', '""Gill', '""Bystrom',
       '""Duran y More', '""Roebling', '""Balkic', '""Vander Cruyssen',
       '""Najib', '""Petroff', '""Potter', '""Shelley', '""Markun',
       '""Dahlberg', '""Banfield', '""Sutehall', '""Montvila', '""Behr',
       '""Dooley'], dtype=object)